body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 0.7fr 3fr  0.5fr;
  grid-template-areas:
    "navbar"
    "header"
    "latest"
    "main"
    "footer";
}

/* navbar */

.navbar {
  grid-area: navbar;
  background-color: #222831;
  display: flex;
  align-items: center;
}

.navbar-container {
  width: 100%;
  display: flex;
  padding-left: 2rem;
}

.link-item {
  font-weight: bold;
  color: #ececec;
  margin-right: 1.5rem;
}

@media (min-width: 600px) and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 1fr 3fr  0.5fr;
    grid-template-areas:
      "navbar navbar navbar navbar"
      "header header header header"
      "latest main main main"
      "footer footer footer footer";
  }
}

@media (min-width: 901px) {
  body {
    font-size: 24px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 1fr 3fr  0.5fr;
    grid-template-areas:
      "navbar navbar navbar navbar"
      "header header header header"
      "latest main main main"
      "footer footer footer footer";
  }
}
