/* footer */

.footer {
  grid-area: footer;
}

.footer .footer-container {
  color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #30475e;
  height: 100%;
  padding: 0 2rem;
}

.footer .footer-container .links {
  display: flex;
  flex-direction: column;
}

.footer .footer-container .links .links-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #f2a365;
}

.footer .footer-container .links .footer-link {
  text-decoration: none;
  color: #ececec;
  font-size: 0.6rem;
}

.footer .footer-container .created-by {
  text-align: center;
  font-size: 0.7rem;
}

.footer .footer-container .created-by .bold {
  font-weight: bold;
}

@media (min-width: 600px) and (max-width: 900px) {
  .footer .footer-container .links .links-title {
    font-size: 1rem;
  }

  .footer .footer-container .links .footer-link {
    font-size: 0.7rem;
  }
  .footer .footer-container .created-by {
    font-size: 0.8rem;
  }
}

@media (min-width: 901px) {
  .footer .footer-container .links .links-title {
    font-size: 1rem;
  }

  .footer .footer-container .links .footer-link {
    font-size: 0.7rem;
  }
  .footer .footer-container .created-by {
    font-size: 0.8rem;
  }
}

