@import "../generalStyling.css";
@import "./sections/post.css";
@import "./sections/relatedPosts.css";

@media (min-width: 600px) and (max-width: 900px) {
    .container {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 1fr 3fr 1fr 0.5fr;
      grid-template-areas:
        "navbar"
        "header"
        "main"
        "related"
        "footer";
    }
  
    .imgs-container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .single-img {
      width: 49%;
    }

    .related-posts-container {
        align-items: center;
      }
    
      .posts {
        display: flex;
        justify-content: space-evenly;
      }
    
      .single-post-container {
        width: 30%;
      }
  }
  
  @media (min-width: 901px) {
    .container {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 1.5fr 3fr 1fr 0.5fr;
      grid-template-areas:
        "navbar"
        "header"
        "main"
        "related"
        "footer";
    }
  
    .imgs-container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .single-img {
      width: 33%;
    }
  
    .unorder-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .list-element {
      width: 30%;
    }

    .related-posts-container {
        align-items: center;
      }
    
      .posts {
        display: flex;
        justify-content: space-evenly;
      }
    
      .single-post-container {
        width: 30%;
      }
  }
  